{%extends "base.html"%}
{%block head_title%}Forms || {{block.super}}{%endblock head_title%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Forms</h1>
    <ul>
        <li>Hauptmieter-Vertrag</li>
        <li>Kaution zurück</li>
        <li>Termin ausmachen</li>
        <li>Untermietvertrag</li>
        <li>Versionsinfo</li>
        <li>Zahlungen</li>
    </ul>
</head>
<body>

</body>
</html>
{%include 'snippets/sidebar.html'%}
{%endblock content%}