{%extends "base.html"%}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World</h1>
{{block.super}}
<p>This is <code>{%verbatim%}{{html_var}}{%endverbatim%}</code> coming through</p>
<p>
{% if num is not None %}
This is your random number and it's {{num}}
{% endif %}
</p>
<p>
{% for some_item in some_list %}
    {% if some_item|divisibleby:"2" %}
        Even number
    {% endif %}
   {{some_item}}<br>
{% endfor %}
</p>
<p>
    Some item is {{some_item}}
</p>
</body>
</html>
{%endblock content%}