{%extends "base.html"%}
{%block head_title%}Queries || {{block.super}}{%endblock head_title%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Queries</h1>
    <ul>
        <li>Kontenübersichteinzeln</li>
        <li>Schlüssel bei uns</li>
        <li>Schlüssel für Hausmeister</li>
        <li>Statistik: Jahresbilanz</li>
        <li>Statistik: Termine</li>
        <li>Termin fehlt</li>
        <li>Termin-Übersicht nach Datum</li>
        <li>Termin-Übersicht nach Name</li>
        <li>Übersicht 2011</li>
        <li>Übersicht 2012</li>
        <li>Übersicht 2013</li>
        <li>Übersicht 2014</li>
        <li>Übersicht 2015</li>
        <li>Übersicht 2016</li>
        <li>Übersicht aktuell</li>
        <li>Unterschrift fehlt</li>
        <li>Zimmer frei</li>
    </ul>
</head>
<body>

</body>
</html>
{%endblock content%}